#container {
  flex: 1;
  background-color: floralwhite;
  display: grid;
  grid-template-columns: 3.8fr 1.2fr;
  grid-template-rows: 1fr;
  width: 98%;
  height: auto;
}

#productDetail {
  display: grid;
  grid-area: 1/1/2/2;
  width: 100%;
  height: auto;
  padding: 1rem;
}

#sideCart {
  display: grid;
  grid-area: 1/2/2/3;
  width: 100%;
  min-height: 96vh;
  height: auto;
  justify-items: center;
  align-items: start;
  background-color: aquamarine;
}

#product {
  padding: 1rem;
  max-width: 700px;
  min-width: 300px;
  margin-top: -4rem;
}

#imgDetail {
  width: 500px;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1rem;
  gap: 1 rem;
}

form > a > button {
  width: 150px;
  height: 50px;
  margin-left: 0.5rem;
}

input {
  margin-left: 0;
  font-size: larger;
  font-weight: 800;
  margin-right: 0.5rem;
}

btnstyle {
  background-color: lightblue;
}
