.container {
  display: flex;
  height: auto;
  min-height: 98vh;
  background-color: aquamarine;
}

.sidebar {
  width: 15%;
  height: auto;
  border-right: 1px solid #ccc;
  padding: 1rem;
  background-color: aquamarine;
}

.detail {
  flex: 1;
  height: auto;
  padding: 1rem;
  padding-top: 0;
  background-color: floralwhite;
}
